.DS_Store
.vscode
Python/__pycache__
Python/__pycache__/mgi_analytique.cpython-311.pyc
Python/__pycache__/trace_rob.cpython-311.pyc
LaTeX/main.aux
LaTeX/main.bcf
LaTeX/main.blg
LaTeX/main.log
LaTeX/main.out
LaTeX/main.run.xml
LaTeX/main.toc
LaTeX/main.synctex.gz